@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC');

body {
font-family: 'Noto Serif TC', serif;
margin-left:2px;
margin-right:2px;
margin-top: 20px;
font-size: 19px;
line-height: 1.7
}

a { color: #00994d;}

p {
line-height:1.5;
margin-top:10px;
margin-bottom:30px;
margin-left:0px;
margin-right:0px;
  }

pre.r { border: 0; 
margin-bottom: 20px;
  margin-top: 20px;
}


pre {
  font-size:16px;
  padding: 20px;
  margin-bottom:20px;
  background-color:#f9f9f9;
  
}

 
h1, h2, h3,h4 { 
  font-family: 'Roboto Condensed', sans-serif;
  padding-bottom: 20px;
  padding-top: 30px;
  color: #00000;
 
} 
 
.navbar-default {
    background-color: #00994d;
    font-family: 'Roboto Condensed', serif;

}
.list-group-item.active {
    z-index: 3;
    color: #ffffff;
    background-color: #00994d;
    border-color: #006699
}

.list-group-item.active:hover {
    z-index: 2;
    color: #ffffff;
    background-color: #00b359;
    border-color: #006699
}
blockquote { background-color: #f9f9f9; margin-bottom: 40px;}


/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	text-align: center;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}

